.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.t1 {
    font-size: 3vw;
    font-family: sans-serif;
}

.p1 {
    font-size: 1.6vw;
    line-height: 40 px;
}

.img {
    height: auto;
    width: 50vw;
}

.margin {
    margin: 1vw;
}

.textRight {
    text-align: right;
}

